//Fonts
@font-face {
  font-family: DINPro-Bold;
  src: url("../fonts/DINPro Bold.otf");
}

@font-face {
  font-family: DIN-Light;
  src: url("../fonts/DIN-Light.ttf");
}

@font-face {
  font-family: Playfair-Display-bold;
  src: url("../fonts/PlayfairDisplay-Bold.otf");
}

@import "variables";
@import "scss/hover.scss";

html {
  scroll-behavior: smooth;
}

body {

  .red-border {
    margin: 0 8px;
    height: 7px;
    position: relative;
    bottom: 15px;
    background-color: $reddish-color;
    border: solid 1px rgba(255, 109, 134, 0.7);
  }

  .container {
    max-width: 1280px;
    padding: 0;
  }

  font-family: $font-din-light;
  color: #282828;

  .left-padding-206 {
    padding-left: 206px;
  }

  .left-padding-15px {
    padding-left: 15px;
  }

  .left-padding-5 {
    padding-left: 5px;
  }


  .top-padding-50 {
    padding-top: 50px;
  }

  .top-padding-100 {
    padding-top: 100px;
  }

  .top-padding-150 {
    padding-top: 150px;
  }

  .bottom-padding-90 {
    padding-bottom: 90px;
  }

  .right-padding-100 {
    padding-right: 100px;
  }

  .right-padding-165 {
    padding-right: 165px;
  }

  .left-margin-206 {
    margin-left: 206px;
  }

  .right-margin-25 {
    margin-right: 25px;
  }

  .top-margin-10 {
    margin-top: 10px;
  }

  .top-margin-70 {
    margin-top: 70px;
  }

  .title {
    font-size: 21px;
  }

  .heading {
    font-family: $font-Playfair;
    font-size: 46px;
  }

  .red-border-btn {
    background-color: $white-clr;
    color: $reddish-color;
    border: solid 6px $reddish-color;
    border-radius: 0;
  }

  .red-marker {
    width: 240px;
    height: 46px;
    background-color: $reddish-color;
    border: solid 1px rgba(255, 109, 134, 0.8);
    position: relative;
    top: 60px;
    z-index: -1;
  }

  .font-size-25 {
    font-size: 25px;
  }

  .font-size-28 {
    font-size: 28px;
  }

  .font-size-18 {
    font-size: 18px;
  }

  .bolded-font-size-25 {
    font-size: 25px;
    font-family: $font-din-pro;
  }

  .font-Playfair {
    font-family: $font-Playfair;
  }

  .grey-clr {
    color: $grey-color;
  }

  .grey-clr-2 {
    color: $grey-color2;
  }
  .width-calc {
    max-width: calc(50% - 206px);
  }

  .max-width-60 {
    max-width: 60%;
  }

  .max-width-65 {
    max-width: 65%;
  }

  .max-width-55 {
    max-width: 55%;
  }

  .img-absolute-center {
    left: 40%;
    top: 50%;
    Transform: translate(-50%, -50%);
  }

  // Header style starts here
  header {
    font-size: 16px;
    color: #282828;

    .navbar {
      background-color: $white-clr;
      border: solid 1px #ededed;
      a {
        color: #282828;
        &:hover {
          // TODO
        }
      }

      .nav-consultation-link {
        padding-right: 0;
        font-family: $font-din-pro;
      }
    }

    .bottom-border {
      border: solid 0.5px #b9b9b9;
    }

    .header-bg {

      background: url("../images/slide-photo2.png") 50% 85%;
      height: 660px;

      .header-content {
        max-width: 635px;
        padding: 150px 0 170px;
        .header-text {

          color: $white-clr;
          font-family: $font-Playfair;
          margin-bottom: 120px;

          h1 {
            font-size: 47px;
            margin: 0;
          }
        }
        .row {

          .consultation-btn {
            .btn {
              font-size: 21px;
              background-color: $reddish-color;
              border: solid 1px rgba(184, 40, 64, 0.7);
              border-radius: 0;
              padding: 15px 13px;
            }
          }
          .check-kits {
            padding: 15px 13px;
            .kits {
              font-size: 21px;
              color: $white-clr;
              text-decoration: underline;
            }
          }

        }
      }
    }
  }
  //  Header style ends here

  // What we do section starts here

  .what-we-do-sec {

    .what-we-do-sec-text-2 {
      font-size: 23px;
    }

    .logos-section {
      display: inline-flex;
      text-align: center;

    }
  }
  // What we do section ends here

  // Web design section starts
  .web-design-section {
    ul {
      list-style: none;
      padding: 0;
    }

    ul li {
      padding-bottom: 30px;
      max-width: 90%;
    }

    ul li::before {
      content: "\25AA";
      color: $reddish-color;
      font-weight: bold;
      display: inline-block;
      width: 22px;
      font-size: 35px;

    }

    .btn-lg {
      padding: 12px 25.5px;
    }
  }
  // Web design section ends

  // Analyze section starts
  .analyze-sec {
    height: 656px;
    background-color: $dark-color;

    .input-link {
      width: 461px;
      border-left: solid 1px #eaeaea;
      border-right: solid 1px #eaeaea;
    }

    .max-width-185 {
      max-width: 185px;
    }

    .input-sum {
      width: 170px;
      border-left: solid 1px #eaeaea;
      border-right: solid 1px #eaeaea;
    }

    .form-style {
      height: 78px;
      border-radius: 0;
      background-color: #f0f0f0;
      color: #282828;

    }

    .form-btn-style {
      background-color: $reddish-color;
      border-color: $reddish-color;
      max-width: 100%;
      padding-left: 28px;
      padding-right: 28px;
    }
  }
  // Analyze section ends

  //Sales & marketing section starts

  #sales-marketing-section {
    .red-marker {
      width: 185px;
    }
  }

  #img-2 {
    top: 45%;
    left: 60%;
  }

  #list-2 {
    width: 485px;
  }

  #from-700 {
    padding-right: 32px;
  }

  .form-style-2 {
    height: 83px;
    width: 430px;
    border-radius: 0;
    background-color: #f0f0f0;
    color: #282828;

  }

  .form-btn-style-2 {
    background-color: $reddish-color;
    border-color: $reddish-color;
    width: 430px;
    padding-left: 28px;
    padding-right: 28px;
  }

  #comment {
    height: 173px;
    width: 430px;
  }

  .noresize {
    resize: none;
  }

}

