//Fonts
@font-face {
  font-family: 'DIN';
  src: url('../fonts/DIN-Light.woff2') format('woff2'),
  url('../fonts/DIN-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
  url('../fonts/PlayfairDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-Bold.woff2') format('woff2'),
  url('../fonts/DINPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}


//@font-face {
//  font-family: DINPro-Bold;
//  src: url("../fonts/DINPro Bold.otf");
//}
//
//@font-face {
//  font-family: DIN-Light;
//  src: url("../fonts/DIN-Light.ttf");
//}
//
//@font-face {
//  font-family: Playfair-Display-bold;
//  src: url("../fonts/PlayfairDisplay-Bold.otf");
//}

@import "variables";
@import "scss/hover.scss";

html {
  scroll-behavior: smooth;
}

body {

  .red-border {
    margin: 0 8px;
    height: 7px;
    position: relative;
    bottom: 15px;
    background-color: $reddish-color;
    border: solid 1px rgba(255, 109, 134, 0.7);
  }

  .container {
    max-width: 1280px;
    padding: 0;
  }

  font-family: $font-din-light;
  //font-family: "Times New Roman", Times, serif;
  color: #282828;

  .height-726 {
    height: 728px !important;
  }

  .height-782 {
    height: 782px !important;
  }

  .left-padding-206 {
    padding-left: 206px;
  }

  .left-padding-160 {
    padding-left: 160px;
  }

  .left-padding-30 {
    padding-left: 30px;
  }

  .left-padding-55 {
    padding-left: 55px;
  }

  .left-padding-5 {
    padding-left: 5px;
  }

  .top-padding-6 {
    padding-top: 6px;
  }

  .top-padding-50 {
    padding-top: 50px;
  }

  .top-padding-100 {
    padding-top: 100px;
  }

  .top-padding-150 {
    padding-top: 150px;
  }

  .bottom-padding-90 {
    padding-bottom: 90px;
  }

  .bottom-padding-150 {
    padding-bottom: 150px;
  }

  .bottom-padding-160 {
    padding-bottom: 160px;
  }

  .right-padding-55 {
    padding-right: 55px;
  }

  .right-padding-100 {
    padding-right: 100px;
  }

  .right-padding-165 {
    padding-right: 165px;
  }

  .left-margin-206 {
    margin-left: 206px;
  }

  .right-margin-25 {
    margin-right: 25px;
  }

 .right-margin-30{
   margin-right: 30%;
 }
  .bottom-margin-50{
    margin-bottom: 50px;
  }

  .top-margin-10 {
    margin-top: 10px;
  }

  .top-margin-55{
    margin-top: 55px;
  }

  .top-margin-70 {
    margin-top: 70px;
  }

  .title {
    font-size: 21px;
  }

  .heading {
    font-family: 'Playfair Display';
    font-weight: bold;
    font-style: normal;
    font-size: 46px;
    line-height: 3.5rem;
  }

  .red-border-btn {
    background-color: $white-clr;
    color: $reddish-color;
    border: solid 5px $reddish-color;
    border-radius: 0;
  }

  .red-marker {
    width: 236px;
    height: 46px;
    background-color: #ff2c4f;
    position: relative;
    top: 47px;
    z-index: -1;
  }

  .grey-marker {
    width: 228px;
    height: 14px;
    background-color: #dddddd;
    border: solid 1px #e7e7e7;
    position: relative;
    z-index: -1;
  }

  .font-size-23 {
    font-size: 23px;
  }

  .font-size-25 {
    font-size: 25px;
  }

  .font-size-28 {
    font-size: 28px;
  }

  .font-size-18 {
    font-size: 18px;
  }

  .font-size-61 {
    font-size: 61px;
  }

  .font-dinpro {
    font-family: 'DINPro';
    font-weight: bold;
    font-style: normal;
  }

  .bolded-font-size-25 {
    font-size: 25px;
    font-family: 'DINPro';
    font-weight: bold;
    font-style: normal;
  }

  .bolded-font-size-30 {
    font-size: 30px;
    font-family: 'DINPro';
    font-weight: bold;
    font-style: normal;
  }

  .font-Playfair {
    font-family: $font-Playfair;
  }

  .grey-clr {
    color: $grey-color;
  }

  .btn{
    font-weight: bold;
  }

  .grey-clr-2 {
    color: $grey-color2;
  }

  .grey-clr-3 {
    color: $grey-color3;
  }

  .grey-clr-4 {
    color: $grey-color4;
  }

  .width-calc {
    max-width: calc(50% - 206px);
  }

  .max-width-60 {
    max-width: 60%;
  }

  .max-width-65 {
    max-width: 65%;
  }

  .max-width-80 {
    max-width: 80%;
  }

  .max-width-90 {
    max-width: 90%;
  }

  .max-width-55 {
    max-width: 55%;
  }

  .img-absolute-center {
    left: 40%;
    top: 50%;
    Transform: translate(-50%, -50%);
  }

  .z-ind-1 {
    z-index: 1;
  }

  .btn-primary:hover {
    background-color: white;
  }

  .red-border-btn:hover {
    border-color: $reddish-color;
  }

  // Header style starts here
  header {
    font-size: 16px;
    color: #282828;

    .navbar {
      background-color: $white-clr;
      border: solid 1px #ededed;
      border-left: none;
      border-right: none;
      text-transform: uppercase;

      .nav-item {
        height: 47px;
        //.red-border {
        //  transition: height 0.2s ease;
        //  height: 0;
        //  border: none;
        //}
        a {
          color: #282828;
        }

        //&:hover > .red-border {
        //  display: block;
        //  height: 7px;
        //  border: solid 1px rgba(255, 109, 134, 0.7);
        //}
        //&:hover > a {
        //  font-family: $font-din-pro;
        //  text-transform: uppercase;
        //}

      }

      .nav-consultation-link {
        padding-right: 0;
        font-family: 'DINPro-Bold',sans-serif;
        font-weight: bold;
        //font-family: "Times New Roman", Times, serif;
      }
    }

    .bottom-border {
      border: solid 0.5px #b9b9b9;
    }

    .header-bg {

      background: url("../images/slide-photo2.png") no-repeat ;
      background-size: cover;
      height: 660px;

      .header-content {
        max-width: 635px;
        padding: 150px 0 170px;
        .header-text {

          color: $white-clr;
          font-family: $font-Playfair;
          margin-bottom: 120px;

          h1 {
            font-weight: bold;
            font-size: 47px;
            margin: 0;
            line-height: 3.5rem;
          }
        }
        .row {

          .consultation-btn {

            .hvr-sweep-to-right {
              &:before {
                background: $white-clr;
              }
              &:hover,
              &:focus,
              &:active {
                color: $reddish-color;
              }
            }

            .btn {
              font-size: 21px;
              background-color: $reddish-color;
              border: solid 1px rgba(184, 40, 64, 0.7);
              border-radius: 0;
              padding: 15px 13px;
              &:focus {
                box-shadow: 0 0 0 0.1rem $white-clr;
              }
            }
          }
          .check-kits {
            padding: 15px 13px;
            .kits {
              font-size: 21px;
              color: $white-clr;
              text-decoration: underline;
            }
          }

        }
      }
    }
  }
  //  Header style ends here

  // What we do section starts here

  .what-we-do-sec {
    background: url("../images/liam-martens-680583-unsplash.png") no-repeat 0 60%;
    background-size: auto;

    .what-we-do-sec-text-2 {
      font-size: 23px;
    }

    .logos-section {
      display: inline-flex;
      text-align: center;

    }
    .hvr-sweep-to-left {
      &:before {
        background: $reddish-color;
      }
      &:hover,
      &:focus,
      &:active {
        color: white;
      }
    }
  }
  // What we do section ends here

  // Web design section starts
  .web-design-section {
    ul {
      list-style: none;
      padding: 0;
    }

    ul li {
      padding-bottom: 30px;
      max-width: 90%;
    }

    ul li::before {
      content: "\25AA";
      color: $reddish-color;
      font-weight: bold;
      display: inline-block;
      width: 22px;
      font-size: 35px;

    }

    .btn-lg {
      padding: 12px 25.5px;
    }

    .hvr-sweep-to-left {
      &:before {
        background: $reddish-color;

      }
      &:hover,
      &:focus,
      &:active {
        color: white;
      }
    }
  }
  // Web design section ends

  // Analyze section starts
  .dark-bg {
    height: 656px;
    background-color: $dark-color;

    .input-link {
      width: 461px;
      border-left: solid 1px #eaeaea;
      border-right: solid 1px #eaeaea;
    }

    .max-width-185 {
      max-width: 185px;
    }

    .input-sum {
      width: 170px;
      border-left: solid 1px #eaeaea;
      border-right: solid 1px #eaeaea;
    }

    .form-style {
      height: 65px;
      border-radius: 0;
      background-color: #f0f0f0;
      color: #282828;

    }

    .form-btn-style {
      background-color: $reddish-color;
      border-color: $reddish-color;
      max-width: 100%;
      padding-left: 28px;
      padding-right: 28px;
    }
    .hvr-sweep-to-right {
      &:before {
        background: $white-clr;
      }
      &:hover,
      &:focus,
      &:active {
        color: $reddish-color !important;
      }
    }
  }
  // Analyze section ends

  //Sales & marketing section starts

  #sales-marketing-section {
    .red-marker {
      width: 185px;
    }

    #img-2 {
      top: 45%;
      left: 60%;
    }

    #list-2 {
      width: 485px;
    }

    #from-700 {
      padding-right: 32px;
    }

    .hvr-sweep-to-left {
      &:before {
        background: $reddish-color;
      }
      &:hover,
      &:focus,
      &:active {
        color: white;
      }
    }
  }
  //Sales & marketing section ends

  // Consultation section starts
  .consultation-sec {
    ul li {
      list-style-type: none;
    }

    .form-style-2 {
      height: 65px;
      width: 430px;
      border-radius: 0;
      border: none;
      background-color: #f0f0f0;
      color: #282828;

    }

    .form-btn-style-2 {
      background-color: $reddish-color;
      border-color: $reddish-color;
      width: 430px;
      padding-left: 28px;
      padding-right: 28px;
    }

    #comment {
      height: 136px;
      width: 430px;
    }

    .noresize {
      resize: none;
    }

    .hvr-sweep-to-right {
      &:before {
        background: $white-clr;
      }
      &:hover,
      &:focus,
      &:active {
        color: $reddish-color !important;
        border: solid 1px $reddish-color;
      }
    }
  }
  // Consultation section ends

  // Downloadable section starts
  .download-sec {
    .download-btn {
      font-size: 25px;
      background-color: $reddish-color;
      border: solid 1px rgba(184, 40, 64, 0.7);
      border-radius: 0;
      padding: 16px 20px;
    }
    .hvr-sweep-to-right {
      &:before {
        background: $white-clr;
      }
      &:hover,
      &:focus,
      &:active {
        color: $reddish-color !important;
      }
    }

    .consult-link {
      font-size: 19px;
      color: $white-clr;
      text-decoration: underline;
    }

    .position-btn {
      left: 25%;
      top: 90%;
      Transform: translate(-50%, -50%);
    }
  }
  // Downloadable section ends

  // Learning Lab & resources section starts
  .lab-resources-sec {
    .red-marker {
      width: 300px;
    }

    .left-padding-160 {
      &.top-padding-100 {
        .row {
          max-width: 1000px;
        }
      }
    }

    .img-padd-right {
      padding-right: 1px;
    }

    .img-padd-left {
      padding-left: 1px;
    }

    .text-positioning {
      text-align: left;
      padding: 30px 50px 0 50px;
    }

    .text-positioning-2 {
      text-align: left;
      padding: 30px 30px 0 30px;
    }

    .marker-left {
      .grey-marker {
        top: -76px;
        left: 50px;
      }
    }

    .marker-right {
      .grey-marker {
        top: -76px;
        left: 32px;
      }
    }

    .with-marker {
      .grey-marker {
        top: 39px;
      }
    }

    .load-more-btn {
      text-align: center;
      .btn {
        font-size: 23px !important;

      }
    }
  }
  // Learning Lab & resources section ends

  // Rocket science section starts
  .rocket-science-sec {

    background: #141414 url("../images/Black & White 2.png") no-repeat right;

    .red-marker {
      width: 440px;
      height: 18px;
      background-color: #ff2c4f;
      position: relative;
      top: 80%;
      z-index: -1;
    }

    .download-btn {
      font-size: 25px;
      background-color: $reddish-color;
      border: solid 1px rgba(184, 40, 64, 0.7);
      border-radius: 0;
      padding: 16px 20px;
    }
    .hvr-sweep-to-right {
      &:before {
        background: $white-clr;
      }
      &:hover,
      &:focus,
      &:active {
        color: $reddish-color !important;
      }
    }
  }
  // Rocket science section ends

  // Footer section starts
  a.email {
    color: #000;
    font-size: 36px;
  }

  .footer-sec {
    padding-bottom: 120px;
  }

  footer {
    height: 100px;
    background-color: #f8f8f8;
    color: #8e8e8e;

    p {
      top: 50%;
      Transform: translate(0, -50%);
    }
  }
  // Footer section ends
}

