$font-din-light: DIN-Light,sans-serif;
$font-din-pro: DINPro-Bold,sans-serif;
$font-Playfair: Playfair-Display-bold,serif;
$reddish-color:#ff2c4f;
$white-clr:#fff;
$grey-color:#ababab;
$grey-color2:#e0e0e0;
$dark-color:#282828;