$font-din-light: 'DIN';
$font-din-pro: 'DINPro';
$font-Playfair: 'Playfair Display';
$reddish-color:#ff2c4f;
$white-clr:#fff;
$grey-color:#ababab;
$grey-color2:#e0e0e0;
$grey-color3:#a2a2a2;
$grey-color4:#c9c9c9;
$dark-color:#282828;